# Development files
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.userosscache
**/*.dbmdl
**/*.jfm

# Git
**/.git/
**/.gitignore
**/.gitattributes
**/.github/

# Docker
**/Dockerfile*
**/.dockerignore
**/docker-compose*

# Documentation
**/documents/
**/*.md
**/LICENSE