MONGO_ROOT_USER=your-mongodb-root-username
MONGO_ROOT_PASS=your-mongodb-root-password
MONGO_DATABASE=SDR
API_VERSION_USDM_VERSION_MAPPING={"SDRVersions":[{"apiVersion":"v3","usdmVersions":["2.0"]},{"apiVersion":"v4","usdmVersions":["3.0"]},{"apiVersion":"v5","usdmVersions":["4.0"]}]}
CDISC_RULES_ENGINE=/app/cdisc-rules-engine
CDISC_RULES_ENGINE_RELATIVE_BINARY=core
CDISC_RULES_ENGINE_RELATIVE_CACHE=resources/cache
APP_API_PORT=8080
APP_API_BASE_URL=http://localhost:8080/
APP_UI_PORT=4200